@model List<PersonelMVCUI2.Models.EntityFramework.Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h2 class="toast-header">PERSONEL LİSTESİ</h2>

<table class="table table-bordered">


    <thead>
        <tr>
            <th> AD </th>
            <th> SOYAD </th>
            <th> DEPARTMAN </th>
            <th> MAAŞ </th>
            <th> YAŞ </th>
            <th> CİNSİYET </th>
            <th> EVLİLİK DURUMU </th>
            <th> GÜNCELLE </th>
            <th> SİL </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var personel in Model)
        {
        <tr>
            <td>@personel.Ad</td>
            <td>@personel.Soyad</td>
            <td>@personel.DepartmanId</td>
            <td>@personel.Maas</td>
            <td>@(DateTime.Now.Year - personel.DogumTarihi.Value.Year)</td>
            <td>@(personel.Cinsiyet == true ? "Erkek" : "Kadın")</td>
            <td>@(personel.EvliMi == true ? "Evli" : "Bekar")</td>
            <td>@Html.ActionLink("Güncelle","Guncelle",new { id = personel.Id },new { @class = "btn btn-primary" })</td>
            <td>@Html.ActionLink("Sil", "Sil", new { id = personel.Id }, new { @class = "btn btn-warning" })</td>
        </tr>
        }

    </tbody>


</table>
@Html.ActionLink("PERSONEL EKLE", "Yeni", null, new { @class = "btn btn-success" })

